

.column-left{ 
    float: left; 
    width: 10%; 
    background-color: purple;
    height: 100px;
}
.column-right{ 
    float: right; 
    width: 10%;
    background-color: red;
    height: 500px;
 }
.column-center{ 
    display: inline-block; 
    width: 80%;
    background-color: green;
    height: 800px;
 }