body {font-family:Verdana, Arial, sans-serif;
       background-color: darkgray;
}
 #wrapper { background-color: #b3c7e6; 
            color: #000066;
            width: 80%;
              margin: auto;
            min-width:940px;
 } 
 nav { float: left;
                  width: 150px;
 } 
 #rightcolumn { margin-left: 155px;
                background-color: #ffffff;
                color: #000000;
 } 
 header { background-color: #869dc7;
         color: #00005D; 
         font-size: 150%; 
         padding: 10px 10px 10px 155px;
         background-image: url(Images/kenyaFlag.png); 
         background-repeat: no-repeat;
         height: 130px; 
 }
 h2 { color: #869dc7; 
      font-family: arial, sans-serif;
 }
 main { display: block;
        padding: 20px 20px 0 20px; 
 } 
 #floatright { margin: 10px;
              float: right;
 }
 
 footer {font-size:70%;
          text-align: center;
                clear: right;
          padding-bottom:20px;
 }
 nav { position: fixed; }
 nav ul { list-style-type: none; 
          padding: 10px; }
 nav a { text-decoration: none; 
         /*padding: 10px;*/
         font-weight: bold; }
 